.WeatherCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 25%;
    width: 100%;
    background-color: aquamarine;

    .weatherWords {

        font-size: 100%;

    }

    .FontAwesomeIcon {
        font-size: 500%;
        margin: 10%;

    }

}